sys
builtins
_frozen_importlib
_imp
_thread
_warnings
_weakref
winreg
_io
marshal
nt
_frozen_importlib_external
time
zipimport
_codecs
codecs
encodings.aliases
encodings
encodings.utf_8
encodings.cp1252
_signal
_abc
abc
io
__main__
_stat
stat
_collections_abc
genericpath
_winapi
ntpath
os.path
os
_sitebuiltins
errno
site